/*body {
    color: #ffffff;
    background-color: #000;
}*/

table {
    width: 100%;
    border-collapse: collapse;
}

.first-table td {
    width: 90%;
    border: 1px solid black;
    border-bottom: none;
}

.first-table .first-col {
    padding-left: 5px;
}

.second-table td {
    padding: 10px 5px;
    border: 1px solid black;
}

.second-table .title {
    width: 20%;
    font-weight: bold;
}